body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    background-image: linear-gradient(#f26721, #fff);
}

footer {
    background-image: linear-gradient(#fff, #f26721) ;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #333;
}

ul {
    list-style-type: none;
}

p {
    font-size: 18px;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

img, svg, object {
    height: 100px;
}

h2 {
    text-align: center;
    border-bottom: 3px solid black;
    margin-bottom: 25px;
    padding-bottom: 5px;
}

.hidden {
    display: none;
}

.grid {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: repeat(4, 220px);
    column-gap: 100px;
}

.bumper {
    position: absolute;
    height: 6px;
    width: 220px;
    background-color: #f26721;
}

.divider {
    border-right: 3px solid #333;
    padding-right: 20px;
}

.desc {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

#main_nav, #footer_nav {
    display: grid;
}

#main_nav, #footer_nav ul {
    grid-column: 1/2;
}

#main_nav, #footer_nav li {
    text-align: center;
}

#row1, #row2, #row3, #row4 {
    display: grid;
}

#container {
    width: 1200px;
    margin: 0 auto;
    display: sticky;
}

#mudkip:hover {
    content: url(../images/shiny_mudkip.svg);
}

#ralts:hover {
    content: url(../images/shiny_ralts.svg);
}

#jirachi:hover {
    content: url(../images/shiny_jirachi.svg);
}

#skitty:hover {
    content: url(../images/shiny_skitty.svg);
}

#pokemon li:hover .bumper,#items li:hover .bumper {
    height: 50px;
    transition: all 1s ease;
} 

#pokemon li {
    position: relative;
    height: 270px;
    width: 220px;
    background-color: #fff;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

#items li {
    height: 350px;
    width: 220px;
    background-color: #fff;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

#Mudkip:hover #lightblue_mudkip {
    fill: #fff6cd;
}

#Mudkip:hover #darkblue_mudkip {
    fill: #b187bd;
}

#Mudkip:hover #blue_mudkip {
    fill: #dbaed1
}

#mudkip_info, #pokeball_info, #masterball_info {
    grid-column: 1/2;
}

#ralts_info, #greatball_info, #duskball_info, #friendball_info {
    grid-column: 2/3;
}

#jirachi_info, #ultraball_info, #quickball_info, #dreamball_info {
    grid-column: 3/4;
}

#skitty_info, #diveball_info, #premierball_info {
    grid-column: 4/-1;
}

#bottom_nav {
    display: grid;
}

#bottom_nav li {
    display: inline-block;
    text-align: center;
}

#items h2 {
    margin-top: 35px;
}

#Pokeball:hover #lightred_poke, #Pokeball:hover #red_poke, #Pokeball:hover #darkred_poke {filter: invert(1);}

#Dive_Ball:hover #darkblue_dive, #Dive_Ball:hover #blue_dive, #Dive_Ball:hover #lightblue_dive {filter: invert(1);}

#Dream_Ball:hover #lavendar_dream, #Dream_Ball:hover #purple_dream, #Dream_Ball:hover #lightpink_dream, #Dream_Ball:hover #pink_dream, #Dream_Ball:hover #darkpink_dream, #Dream_Ball:hover #rose_dream {filter: invert(1);}

#Dusk_Ball:hover #green_dusk, #Dusk_Ball:hover #darkgreen_dusk, #Dusk_Ball:hover #grey_dusk, #Dusk_Ball:hover #darkgray_dusk {filter: invert(1);}

#Friend_Ball:hover #olive_friend, #Friend_Ball:hover #green_friend, #Friend_Ball:hover #darkgreen_friend, #Friend_Ball:hover #yellow_friend, #Friend_Ball:hover #red_friend{filter: invert(1);}

#Great_Ball:hover #blue_great, #Great_Ball:hover #lightblue_great, #Great_Ball:hover #darkblue_great,  #Great_Ball:hover #lightred_great, #Great_Ball:hover #red_great, #Great_Ball:hover #darkred_great{filter: invert(1);}

#Master_Ball:hover #lavendar_master, #Master_Ball:hover #purple_master, #Master_Ball:hover #darkpurple_master, #Master_Ball:hover #lightred_master, #Master_Ball:hover #red_master, #Master_Ball:hover #darkred_master {filter: invert(1);}

#Premier_Ball:hover #grey_premier, #Premier_Ball:hover #white_premier, #Premier_Ball:hover #eggwhite_premier {filter: invert(1);}

#Quick_Ball:hover #lightblue_quick, #Quick_Ball:hover #blue_quick, #Quick_Ball:hover #darkblue_quick, #Quick_Ball:hover #yellow_quick, #Quick_Ball:hover #gold_quick {filter: invert(1);}

#Ultra_Ball:hover #lightyellow_ultra, #Ultra_Ball:hover #yellow_ultra, #Ultra_Ball:hover #gold_ultra, #Ultra_Ball:hover #tan_ultra
{filter: invert(1);}